@import url('https://fonts.googleapis.com/css2?family=Marck+Script&display=swap');

.banner {
    background: linear-gradient(90deg, rgba(99, 132, 230, 1) 0%, rgba(122, 54, 190, 0.9360994397759104) 100%);
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    height: 100vmin;
}
.banner>h1{
    margin: 5vmax;
    font: 600 2.5vmax 'Roboto';
}

.banner>p{
    font-family: 'Marck Script';
    font-size: 3vmax;
}

.banner>a>button{
    margin: 5vmax;
    cursor: pointer;
    background-color: #fff;
    border: 1px solid #fff;
    border-radius: 0;
    padding: 1vmax;
    transition: all 0.3s ease-in-out;
    width: 9vmax;
    font: 500 1vmax 'Roboto';
}

.banner>a>button:hover {
    background-color: rgb(255, 255, 255, 0);
    color: #fff;
}

.banner::after {
    content: "";
    width: 100vw;
    background-color: #ffffff;
    position: absolute;
    height: 100vmin;
    top: 0;
    max-width: 100%;
    left: 0;
    clip-path: polygon(100% 68%, 0 100%, 100% 100%);
}


.homeHeading{
    text-align: center;
    font-family: Roboto;
    font-size: 1.4vmax;
    border-bottom: 1px solid rgba(21, 21, 21, 0.5);
    width: 20vmax;
    padding: 1vmax;
    margin: 5vmax auto;
    color: rgb(0, 0, 0, 0.7);
}
.container{
    display: flex;
    margin: 2vmax auto;
    width: 80vw;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 100%;
}

.productCard{
    width: 14vmax;
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: rgb(48, 48, 48);
    margin: 2vmax;
    transition: all 0.5s;
    padding-bottom: 0.5vmax;
}
.productCard>img{
    width: 14vmax;
    height: 100%;
}

.productCard>div{
    margin: 0.5vmax;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.productCard>p{
    font-family: 'Roboto';
    font-size: 1.2vmax;
    margin: 1vmax 0.5vmax;
    margin-bottom: 0;
}
.productCard>span{
    margin: 0.5vmax;
    color: #232F3E;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1vmax;
}
.productCard:hover {
    box-shadow: 0 0 5px rgba(15, 15, 15, 0.26);
    transform: translateY(-1vmax);
}


@media screen and (max-width:600px) {
    .productCard>p {
        font-size: 1.7vmax;
    }

    .productCard>div {
        margin: 0vmax;
        display: block;
    }

    .productCard>span {
        font-size: 1.5vmax;
    }

    .productCard>div>span {
        margin: 0 0.5vmax;
        font: 300 1vmax 'Roboto'
    }
  
}
